astroid==3.3.11
coverage==7.10.7
dill==0.4.0
et_xmlfile==2.0.0
flake8==7.3.0
importlib_metadata==8.7.0
isort==6.1.0
mccabe==0.7.0
numpy==2.0.2
openpyxl==3.1.5
pandas==2.3.3
pillow==11.3.0
platformdirs==4.4.0
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==3.3.9
PyMuPDF==1.26.5
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tomli==2.3.0
tomlkit==0.13.3
typing_extensions==4.15.0
tzdata==2025.2
zipp==3.23.0
